<!DOCTYPE html>
<html ng-app="mapApp">
<head>
	<title>Map Project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular-animate.min.js"></script>
    <script type="text/javascript"src="angular-simple-logger.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="mapController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<leaflet defaults="defaults" center="center" markers="markers" tiles="tiles" width="100%" height="480px"></leaflet>
			</div>
		</div>
		<div class="row">
			<button ng-click="changeMapTiles('opencyclemap')" class="btn btn-lg btn-default">OpenCycleMaps</button>
			<button ng-click="changeMapTiles('fourumaps')" class="btn btn-lg btn-default">4uMaps</button>
			<button ng-click="changeMapTiles('openstreetmap')" class="btn btn-lg btn-default">OpenStreetMap</button>
		</div>
		<div class="row">
			<button ng-click="changeCenter(London)" class="btn btn-lg btn-default">London</button>
			<button ng-click="changeCenter(Boulder)" class="btn btn-lg btn-default">Boulder</button>
		</div>
		<div class="row" ng-repeat="marker in markers">
			<p>{{marker.message}}, Latitude: {{marker.lat}}, Longitude: {{marker.lng}}</p>
			<button ng-click="centerOnMarker(marker)">Center</button>
			<button ng-click="editMarker(marker)">Edit</button>
			<button ng-click="deleteMarker($index)">Delete</button>
		</div>
	</div>
	
	<div>
	    <script type="text/ng-template" id="ModalContent.html">
	        <div class="modal-header">
	            <h3 class="modal-title">Edit Comment</h3>
	        </div>
	        <div class="modal-body">
	        	<input type="comment" class="form-control" placeholder="comment" ng-model="comment">
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	        </div>
	    </script>
	</div>

	<script type="text/javascript" src="main.js"></script>
</body>
</html>	