<!DOCTYPE html>
<html ng-app="mapApp">

<head>
	<title>Map Project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular-animate.min.js"></script>
    <script type="text/javascript"src="angular-simple-logger.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="angularjs-geolocation.min.js"></script>
    <script type="text/javascript" src="gpx.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body ng-controller="mapController">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- This is the map being displayed -->
				<leaflet defaults="defaults" center="center" markers="markers" layers="layers" width="100%" height="480px"></leaflet>
			</div>
		</div>
		<div class="row">
			<!-- <div class="col-md-6">
				<button ng-click="changeMapTiles('opencyclemap')" class="btn btn-sm btn-default">OpenCycleMaps</button>
				<button ng-click="changeMapTiles('fourumaps')" class="btn btn-sm btn-default">4uMaps</button>
				<button ng-click="changeMapTiles('openstreetmap')" class="btn btn-sm btn-default">OpenStreetMap</button>
			</div> -->
			<!-- Buttons for changing map center location -->
			<div class="col-md-3 pull-right">
				<button ng-click="centerCurrent()" class="btn btn-sm btn-default">Current Location</button>
				<button ng-click="changeCenter(London)" class="btn btn-sm btn-default pull-right">London</button>
				<button ng-click="changeCenter(Boulder)" class="btn btn-sm btn-default pull-right">Boulder</button>
			</div>
		</div>
		<!-- Display of coords and message for user created markers as well as delete, edit center buttons for each -->
		<div class="row bg-info" ng-repeat="marker in markers">
			<div class="col-md-6">
				<ul>
					<li>Comment: {{marker.message}}</li>
					<ul>
						<li>Latitude: {{marker.lat | number : 4}}</li>
						<li>Longitude: {{marker.lng | number : 4}}</li>
					</ul>
				</ul>
			</div>
			<div class="col-md-4">
				<button ng-click="centerOnMarker(marker)">Center</button>
				<button ng-click="editMarker(marker)">Edit</button>
				<button ng-click="deleteMarker($index)">Delete</button>
			</div>	
		</div>
	</div>
	
	<!-- Modal display container -->
	<div>
	    <script type="text/ng-template" id="ModalContent.html">
	        <div class="modal-header">
	            <h3 class="modal-title">Edit Comment</h3>
	        </div>
	        <div class="modal-body">
	        	<input type="comment" class="form-control" placeholder="comment" ng-model="comment" autofocus>
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	        </div>
	    </script>
	</div>

	<script type="text/javascript" src="main.js"></script>
</body>
</html>	