.btn-width {
	width: 100%;
}
.jmb-image {
	background-image: url("../images/fall.jpg");
	background-size: cover;	
	margin-top: 25px;
}
.accordion {
	padding-top: 7px;
}
.title {
	font-family: 'Lato';
}
.message {
	color: #E6E6E6;
	padding-top: 70px
}
.list-group-background-14er {
	background-color: #E6E6E6;
}
.list-group-background-user {
	background-color: #E6E6E6;
}
body {
	background-color: #34495e;
}